.btn-custom {
    width: 100px;
    height: 100px;
    font-size: 25px;
    background-color: blue;
    color: red;
    border: none;
    margin: 0 10px;
  }
  .input-custom {
    height: 100px;
    width: 400px;
    font-size: 25px;
    text-align: center;
  }
  .counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }